*{
  margin: 0;
  padding: 0;
}

.container{
  background: #f4f4f7;
  height:100vh;
  padding: 15px;
  background: #EBEBEB;
}

.main{
  text-align: center;
  margin: auto;
  /* padding: 50px 0px;
  width: 40vw;
  height: 60vh;
  border: 5px solid rgb(68, 67, 67);
  border-radius: 35px; */
}

.top-bar{
  width: 50vw;
  background: #696565;
  margin: auto;
  padding: 20px 0;
}